eyed3==0.9.6
ffmpeg==1.4
gdown==3.12.2
hmmlearn==0.2.5
jupyter==1.0.0
librosa==0.8.0
matplotlib==3.4.1
plotly==4.14.3
pyaudioanalysis==0.3.6
pydub==0.25.1
pysocks==1.7.1
toml==0.10.2
torch==1.8.1
transformers==4.5.1
